:root {
    --content-width: 90%;
    --main-transition: all 300ms ease-in-out;

    /* neutral colors */
    --white: white;
    --grey: grey;
    --themechangebtngrey: rgb(141, 141, 141);
    --todo_hov: rgba(152, 152, 152, 0.1);
    --todos_bcg: rgba(246, 246, 246, 0.3);
    --dim_name: rgb(182, 182, 182);
    --light_grey: rgb(250, 250, 250);
    --todo_icon_hov: rgb(33, 33, 33);
    --sorttype_hov: rgb(67, 67, 67);
    --sortsett_hov: rgb(129, 129, 129);

    /*font sizing variables*/
    --normalFont: 1.1rem;
    --regularFont: 0.945rem;
    --inputFont: 0.87rem;
    --search_not_found_Font: 0.94rem;
    --tuneInput: 0.92rem;
    --alarmInput: 0.85rem;
    --toolLabel: 0.82rem;
    --alarmClose: 0.8rem;
    --notification: 0.7rem;
    --h3: 1.5rem;

    /*input width size*/
    --inputWidth: 10rem;
    --inputHeight: 2.2rem;
    --time_date_bottom_gap: 10px;
}

.container {
    width: 80dvw;
    position: relative;
    max-height: 95dvh;
    height: 95dvh;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--time_date_bottom_gap);
    overflow-y: clip;
    transition: var(--main-transition);
}

.heading {
    width: 100%;
    padding: 1rem 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_content {
    width: var(--content-width);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    font-size: var(--h3);
    font-weight: 600;
    text-align: center;
}


/*Settings styles*/
.settings_btn {
    width: 1.2rem;
    height: 1.2rem;
    padding: 0;
    color: var(--white);
    background-color: transparent;
    font-size: var(--normalFont);
    border: none;
    outline: none;
    transition: var(--main-transition);
}

.settings_active {
    border: none;
    outline: none;
    transform: scale(1.2);
}

.settings_bcg {
    position: absolute;
    top: 9.9%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
    display: flex;
    transition: all 350ms ease-in 200ms;
}

.settings_open {
    z-index: 3;
    opacity: 1;
    visibility: visible;

}

.settings_overlay {
    flex: 1;
    height: 100%;
}

.settings_box {
    height: 100%;
    width: 0;
    opacity: 0;
    background: var(--light_grey);
    padding: 2rem;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 5;
    transition: all 200ms ease-in;
}

.settings_box:hover,
.settings_btn:focus {
    border: none;
    outline: none;
}

.settings_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.set_box-show {
    opacity: 1;
    width: 70%;
}

.btn-settings {
    padding: 0.25rem 0.7rem;
    background: transparent;
    border: 1px solid var(--themechangebtngrey);
    color: grey;
    font-weight: 500;
    font-size: var(--alarmInput);
    text-align: center;
    transition: all 300ms ease-in;
}

.btn-show {
    opacity: 1;
    pointer-events: all;
}

.btn-hide {
    opacity: 0;
    pointer-events: none;
}

.btn-settings:hover,
.btn-settings:focus {
    background: var(--themechangebtngrey);
    color: white;
    border: 1px solid var(--themechangebtngrey);
    outline: transparent;
}

.settings_head {
    text-align: start;
    color: #595959;
    margin-bottom: -3px;
    font-weight: 600;
    font-size: var(--inputFont);
}

.settings_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: max-content;
    margin-left: 1rem;
    font-size: var(--alarmInput);
}

    /*Theme settings styles*/
.theme {
    align-items: center;
    place-items: center;
    flex-wrap: wrap;
    height: 2rem;
}

.theme label {
    cursor: pointer;
}

.theme label:hover {
    color: #000000;
}

.color_change {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.color_box {
    width: 1.5rem;
    height: 1rem;
    padding: 0;
    margin-top: 0.3rem;
    border: transparent;
    outline: transparent;
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
}

.color_box:hover {
    border: 1px solid rgb(61, 61, 61);
    outline: transparent;
}

.color_box input {
    position: absolute;
    top: -35%;
    left: -50%;
    width: 2.5rem;
    height: 1.7rem;
    outline: transparent;
    border: transparent;
    background: transparent;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.color_box input:hover {
    cursor: pointer;
}

    /* Alarm tunes settings */
.tunes_head {
    text-align: start;
}

.tuneList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    overflow: hidden;
}

.tune {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem;
}

.tune_tag {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    overflow: hidden;
    cursor: pointer;
}

.tune_tag p {
    flex: 1;
    width: max-content;
    text-align: start;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.tune_btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tune_btns button {
    place-content: center;
    padding: 0.2rem 0.3rem;
    border: transparent;
    outline: transparent;
}

.tune_btns button svg {
    transition: all 300ms ease-in;
}

.tune_btns button:hover svg {
    fill: grey;
}

.tune_btns button:hover, 
.tune_btns button:focus {
    border: transparent;
    outline: transparent;
}

.upload_tunes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.tune_prev {
    width: max-content;
    opacity: 0;
    transition: all 200ms ease-in;
}

.tune_prev-show {
    opacity: 1;
}

.upload_btns {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tune_input {
    position: relative;
    width: 7rem;
    height: 1.7rem;
    background: white;
    border: 1px solid grey;
    color: rgb(74, 74, 74);
    font-size: var(--tuneInput);
    display: flex;
    align-items: center; 
    justify-content: start;
    overflow: hidden;
}

.tune_input span {
    position: absolute;
    width: 7rem;
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 2;
}

.tune_input input {
    opacity: 0;
    margin-left: -1.25rem;
    width: 8rem;
    height: 1.7rem;
    background-color: red;
    z-index: 3;
}

/* time, date, other content_box styling */

.time_date {
    width: 80%;
    position: absolute;
    top: 5.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.3rem 4rem;
    align-items: center;
    justify-content: space-between;
    color: #7e7e7e;
    font-size: var(--regularFont);
    font-weight: 400;
    font-family: inherit;
    padding-bottom: 0.2rem;
}

.content_box {
    width: var(--content-width);
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    overflow: hidden;
    padding-top: 3rem;
    padding-bottom: 1rem;
}


/*Todo adding and searching styles*/
.note {
    text-align: center;
    margin-top: 1rem;
    font-size: var(--normalFont);
    font-weight: 500;
    font-style: italic;
    max-width: 80%;
}

.alert {
    width: fit-content;
    text-align: center;
    font-size: var(--inputFont);
    height: 1.9rem;
    padding: 0.3rem 1rem;
    border-radius: 3px;
    opacity: 0;
    color: var(--white);
    text-transform: capitalize;
    align-content: center;
    background: var(--white);
}

.alert_success {
    background: rgba(108, 216, 1, 0.5);
}

.alert_fail {
    background: rgba(220, 20, 60, 0.5);
}

.show {
    opacity: 1;
}

.input_forms {
    width: var(--content-width);
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 1rem; */
}

.todo_adding {
    width: fit-content;
    height: var(--inputHeight);
    display: flex;
}

.realign {
    justify-content: space-between;
}

.add_input,
.search_input {
    width: var(--inputWidth);
    height: inherit;
    padding: 0 1rem;
    border: transparent;
    border-radius: 6px 0 0 6px;
    outline: none;
    font-size: var(--inputFont);
    transition: var(--main-transition);
    transition-delay: 200ms;
}

.add_input:focus {
    border: 1px solid var(--white);
}

.input_box {
    position: relative;
    width: 0;
    height: var(--inputHeight);
    display: flex;
    justify-content: end;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: transparent;
    outline: transparent;
    opacity: 0;
    overflow: hidden;
    transition: width 700ms ease-in-out, opacity 700ms ease-in;
}

.input_active {
    width: var(--inputWidth);
    opacity: 1;
    overflow: visible;
}

.search_input {
    width: calc(var(--inputWidth) - 2rem);
    opacity: 1;
}

.search_icon {
    height: 2.2rem;
    place-content: center;
    border-radius: 0 6px 6px 0;
    padding-left: 0.5rem;
    background: white !important;
}

.search_icon svg {
    font-size: var(--inputFont);
    margin-right: 0.5rem;
    transition: var(--main-transition);
}

.input_box:hover,
.input_box:focus {
    border: transparent;
    outline: transparent;
}

.input_box:hover .search_icon svg {
    color: var(--grey);
}

.input_box:focus-within .search_icon {
    background: transparent !important;
}

.active_search {
    background: var(--white);
}

.error {
    border: 1px solid red;
}

.add_btn {
    width: fit-content;
    height: inherit;
    padding: 0 5.5%;
    font-size: var(--inputFont);
    border-radius: 0 6px 6px 0;
    outline: none;
    border: none;
    text-wrap: nowrap;
    transition: var(--main-transition);
}

.add_btn:hover {
    color: var(--white);
}

.add_btn:focus {
    outline: none;
    border: none;
}


/*Sorting Functionality*/
.sortings {
    width: var(--content-width);
    text-align: end;
    color: var(--grey);
    position: relative;
    display: flex;
    margin-bottom: -10px;
    transition: var(--main-transition);
}

.sortings span {
    flex: 1;
    font-size: var(--tuneInput);
}

.sort_type {
    width: fit-content;
    color: var(--sortsett_hov);
    cursor: pointer;
    transition: var(--main-transition);
    background-color: transparent;
    padding: 0;
    margin-left: 0.5rem;
    display: inline-flex;
    align-items: center;
    text-align: end;
    text-wrap: nowrap;
    font-size: var(--tuneInput);
    gap: 0.5rem;
    border: none;
    outline: none;
    font-weight: 450;
    border-radius: 0;
    transition: var(--main-transition);
}

.sort_type:hover,
.sort_type:focus {
    border: none;
    outline: none;
}

.sort_type:hover {
    color: var(--todo_icon_hov)
}

.sort_box {
    width: fit-content;
    position: absolute;
    top: -60%;
    right: 0;
    background: var(--white);
    overflow: hidden;
    padding: 0;
    list-style-type: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 350ms ease-in;
}

.sorting_active {
    visibility: visible;
    top: -30%;
    opacity: 1;
    pointer-events: all;
    z-index: 2;
}

.sort_list {
    padding: 0.3rem 0;
    margin: 0;
    overflow: hidden;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: var(--main-transition), visibility 350ms ease-in;
}

.show-sort_list {
    opacity: 1;
    visibility: visible;
}

.sort_list .sort_type {
    padding: 0 0.5rem;
    font-size: var(--tuneInput);
    transition: var(--main-transition);
}

.sort_list .sort_type:hover {
    color: var(--sorttype_hov);
}

.curr_sortType {
    color: var(--sorttype_hov);
}


/*Todo entry console styles*/
.todo_list {
    width: var(--content-width);
    max-height: 350px;
    min-height: 280px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow-y: auto;
    z-index: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(207, 207, 207);
    border-radius: 5px;
}

.todo_pad {
    padding: 0.8rem;
}

.search_not-found{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--search_not_found_Font);
    font-weight: 400;
}

.show {
    visibility: visible;
    opacity: 1;
}

    /*todo styles*/
.todo_render {
    position: relative;
    width: 100%;
    height: 2.7rem;
    padding-left: 10px;
    /* margin-bottom: 2px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 400ms ease-out;
    /* background: rgba(0, 0, 0, 0.025); */
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
    border-radius: 0.5%;
    gap: 1rem;
}

.todo_render:hover {
    background: linear-gradient(to left, #f9f9f9, rgb(214, 214, 214));
    padding-left: 0.3rem;
    border-left: 1px solid rgb(173, 173, 173);
}

.line {
    opacity: 0.6;
}

.todo_draggable {
    position: relative;
    width: 80%;
    cursor: grab;
    z-index: 2;
    touch-action: none;
}

.todo_tagname {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    width: 75%;
    font-size: var(--regularFont);
    text-wrap: nowrap;
    overflow: hidden;
    color: black;
    text-align: left;
    /* z-index: 5;
    cursor: grab; */
}

.todo_check {
    width: 1rem;
    background-color: white;
    border: 1px solid black;
    /* outline: 1px solid black; */
}

.todo_item {
    flex: 1;
    overflow: hidden;
    color: rgb(0, 0, 0);
    text-overflow: ellipsis;
    white-space: none;
    text-align: start;
}

.todo_label {
    /* align-self: center; */
    text-align: center;
    margin-bottom: 3px;
    transition: all 300ms ease-out;
}

        /*todo tools styles*/

.todo_tools {
    position: absolute;
    display: flex;
    height: 2rem;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    right: 0;
    /* padding-right: 0.25rem; */
}

.tools_extend-btn {
    background: transparent;
    transform: rotate(90deg);
    height: 2rem;
    width: 2rem;
    padding: 0;
    margin: 0;
    text-align: center;
    display: none;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.tools_extend-btn:hover {
    background: #e5e5e5;
    border: none;
    outline: none;
}

.tools_extend-btn:focus {
    border: none;
    outline: none;
}

.tools_btns {
    position: relative;
    width: fit-content;
    min-width: fit-content;
    height: 100%;
    /* padding: 0 0.3rem; */
    display: flex;
    align-items: center;
    opacity: 0;
    transition: all 500ms ease-out;
}

.todo_render:hover .tools_btns {
    opacity: 1;
}

.tool_btn {
    width: 2rem;
    height: 2.2rem;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0.4rem;
    z-index: 2;
}

.tool_btn p {
    text-align: center;
}

.tool_btn:hover,
.tool_btn:focus {
    background: none;
    outline: none;
    border: transparent;
}

.tool_label {
    display: none;
    color: #595959;
    font-size: var(--toolLabel);
    font-weight: normal;
    width: 2.5rem;
    padding: 0;
    margin: 0;
    margin-bottom: 3px;
    text-align: start;
    /* opacity: 0; */
}

.show_label {
    opacity: 1;
}

.tool_icon {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trash,
.edit,
.clock {
    color: var(--dim_name);
    transition: var(--main-transition);
    z-index: 1;
}

.trash {
    width: 11px;
}

.clock {
    width: 13px;
}

.edit {
    width: 14px;
}

.tools_btns .todo_btn:hover .trash,
.tools_btns .todo_btn:hover .edit,
.trash:hover,
.trash:focus,
.clock:focus,
.clock:hover,
.edit:hover,
.edit:focus {
    fill: var(--grey);
}

.active_alarm {
    color: green;
}

            /*range/order tool style*/
input[type='range'] {
    width: 2.1rem;
    height: 0.23rem;
    -webkit-appearance: none;
    background: rgb(209, 209, 209);
    margin-bottom: 2px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
}

input[type='range']:hover {
    width: 2.1rem;
    height: 0.23rem;
    accent-color: var(--grey);
    background: rgb(179, 179, 179);
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0.8rem;
    height: 0.8rem;
    background: var(--dim_name);
    border-radius: 50%;
    transition: var(--main-transition);
}

input[type='range']::-webkit-slider-thumb:hover {
    background: var(--grey);
}

.imp_range {
    margin-top: 2px;
    width: 3rem !important;
}

            /*alarm tool styles*/
.alarm_box {
    position: absolute;
    right: 0;
    width: fit-content;
    height: 2.4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.1rem 0.5rem;
    background: rgb(214, 214, 214);
    visibility: hidden;
    opacity: 0;
    z-index: 20;
    transition: var(--main-transition);
}

.show_alarmbox {
    visibility: visible;
    opacity: 1;
    z-index: 5;
}

.alarm_box .close_btn {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    padding: 0.2rem;
    color: rgb(163, 163, 163);
    border: none;
    outline: none;
    font-size: var(--alarmClose);
    transition: all 300ms ease-in;
}

.alarm_box .close_btn:hover,
.alarm_box .close_btn:focus {
    color: black;
    transform: scale(1.1);
    border: none;
    outline: none;
}

.alarm_form {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 1rem;
}

.alarm_form input {
    background-color: transparent;
    font-family: inherit;
    font-size: var(--alarmInput);
    border: none;
    outline: none;
    cursor: pointer;
    width: 5.5rem;
    /* margin-left: 1rem; */
}

.alarmactive_time {
    font-size: var(--alarmInput);
    margin: auto 0.8rem auto 1.3rem;
    color: green;
}

.alarm_set {
    background: rgb(124, 124, 124);
    border: none;
    outline: none;
    padding: 0.15rem 0.6rem;
    color: white;
    font-weight: 400;
    font-size: var(--inputFont);
    line-height: 1.1;
    font-family: inherit;
    text-align: center;
    border-radius: 5px;
    opacity: 0.8;
    margin-right: 1rem;
}

.alarmset:hover {
    opacity: 1;
    outline: none;
}

.alarm_set:focus {
    outline: none;
}

.cancel_style {
    background: transparent;
    color: black;
    border: 1px solid white;
    outline: none;
}

        /*Alarm notifications*/
.todo_tagname:hover .alarmtime_away {
    opacity: 0;
}

.shrink {
    width: 30%;
}

.wraptext {
    text-wrap: wrap;
}

.dim {
    color: rgb(182, 182, 182);
    text-decoration: line-through;
    font-weight: 500;
}

.alarmtime_away {
    position: absolute;
    left: 50%;
    /* left: 40%; */
    top: 0;
    bottom: 0;
    padding: 0 0.5rem;
    width: 14%;
    display: block;
    place-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    color: rgb(190, 190, 190);
    opacity: 1;
    pointer-events: all;
    transition: var(--main-transition);
    z-index: 3;
}

.notificatn_text {
    font-size: var(--inputFont);
    flex: 1;
    font-weight: 400;
    color: rgb(190, 190, 190);
    display: inline;
    cursor: text;
}

.notificatn_text.timeout {
    color: red;
}

.rmAlarmNotificatnBtn {
    position: relative;
    top: -10px;
    right: -3px;
    padding: 0;
    padding-left: 5px;
    align-self: start;
    background: transparent;
    font-size: var(--notification);
    color: rgb(203, 203, 203);
    border: transparent;
    outline: transparent;
    visibility: hidden;
    pointer-events: none;
}

.rmAlarmNotificatnBtn:focus,
.rmAlarmNotificatnBtn:hover {
    color: #b2b2b2;
    transform: scale(1.1);
    border: transparent;
    outline: transparent;

}

.alarmtime_away:hover {
    width: fit-content;
}

.alarmtime_away:hover .rmAlarmNotificatnBtn {
    visibility: visible;
    pointer-events: all;
}

.hidetime_away {
    width: 0;
    opacity: 0;
    pointer-events: none;
}

/*footer styles*/
footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    /* margin-top: 1rem; */
}

.wrapper {
    width: var(--content-width);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_align {
    justify-content: space-between;
}

.dltcomp_btn,
.empty_btn {
    padding: 9px 12px;
    border-radius: 6px;
    outline: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: var(--alarmClose);
    font-weight: 400;
    letter-spacing: 1px;
    display: none;
    transition: all 300ms ease-out;
}

.dltcomp_btn:hover,
.empty_btn:hover {
    color: var(--white);
}

.visible {
    display: block;
}


@media screen and (min-width:1000px) {
    :root {
        --content-width: 80%;
    }

    .container {
        width: 70vw;
    }

    .heading {
        padding: 1rem 10%;
    }

    .settings_box {
        padding-left: 18%;
    }

    .time_date {
        width: 63.5%;
        /* left: 18%; */
        left: 50%;
        transform: translateX(-50%);
    }
}


@media screen and (max-width: 650px) {

    :root {
        --normalFont: 1rem;
        --regularFont: 0.925rem;
        --search_not_found_Font: 0.86rem;
        --inputFont: 0.83rem;
        --tuneInput: 0.85rem;
        --alarmInput: 0.83rem;
        --alarmClose: 0.7rem;
        --notification: 0.6rem;
        --h3: 1.2rem;

        --inputWidth: 8rem;
        --inputHeight: 2.1rem;  
        --time_date_bottom_gap: 5%;
    }

    .container {
        width: 100dvw;
        max-height: 100dvh;
        height: 100dvh;
        border-radius: 0px;
        overflow: hidden
    }

    .settings_bcg {
        top: 7.7%;
    }

    .settings_box {
        width: 100%;
    }
    
    .note {
        margin-top: 0.8rem;
        margin-bottom: 0rem;
    }

    .search_input {
        width: 6.5rem;
    }

    .input_box {
        width: 1.8rem;
        overflow: hidden;
        background: transparent;
    }

    .input_box-extend {
        width: 8.5rem;
        background: transparent;
    }

    .todo_pad {
        padding-bottom: 2rem;
    }

    /*todo_tools styles*/
    .todo_tools {
        top: 13%;
    }

    .todo_render:hover .todo_tools {
        opacity: 1;
    }

    .tools_btns {
        position: absolute;
        top: 60%;
        width: max-content;
        height: fit-content;
        flex-direction: column;
        background: linear-gradient(#ededed, #e2e2e2);
        opacity: 0;
        /* padding: 0.2rem 0; */
        z-index: 2;
        visibility: hidden;
        pointer-events: none;
        transition: all 300ms ease-in;
    }

    .tools_extend-btn {
        display: flex;
    }

    .tool_btn {
        width: 100%;
        height: 1.9rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 300ms ease-in;
        border-radius: 1px !important;
        /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
    }

    .tools_btns .tool_btn:hover {
        background: #f5f4f4;
    }

    .tool_btn-show {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .tool_label {
        display: flex;
    }

    .dropdown {
        opacity: 1;
        top: 90%;
        z-index: 10;
        pointer-events: all;
        visibility: visible;
    }

    .tool_icon {
        width: 2rem;
    }

    .imp_range {
        margin-top: 0px;
        width: 100% !important;
    }

    .trash {
        width: 10px;
    }

    .clock {
        width: 12px;
    }

    .edit {
        width: 13px;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 0.7rem;
        height: 0.7rem;
    }

    input[type='range']:hover {
        width: 2.1rem;
        height: 0.23rem;
        accent-color: var(--grey);
        background: rgb(179, 179, 179);
    }

    /*alarm tool styles*/
    .alarm_box {
        padding: 0.3rem;
    }

    .alarm_form {
        gap: 0.5rem;
    }

    .alarm_form input {
        font-size: var(--alarmInput);
        width: 5.31rem;
    }

    .alarm_box .close_btn {
        font-size: var(--notification);
    }
}